@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.container{
   max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}





.align-item{
    text-align: center;
}
.margin{
    margin-top: 8px;
}
.font{
    font-family: Poppins;
font-size: 48px;
font-weight: 700;
line-height: 72px;
letter-spacing: 0em;
text-align: center;

}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.col-4{
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 25px;
    
    
    
}
.card {
    
    background: #FFF;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
   
    
  }
  .card:hover{
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  }
  .pt{
    padding-left: 43px;
    padding-top: 35px;
  }
  .px{
    padding-left: 43px;
    padding-right: 80px;  
    
}
.font1{
    font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}
.pl-43{
    padding-left: 43px;
    padding-top: 12px;
    
}
.pl-8{
    padding-left: 8px;

   }
  .pt-12{
    padding-top: 12px;
  }
  .pt-19{
    padding-top: 19px;
    padding-left: 43px;
  }
  .pt-17{
    padding-top: 17px;
  }
  .pt-14{
    padding-top: 14px;
    padding-left: 43px;
  } 
  .padding-top{
    padding-top: 14px;
  }
   


.d-flex{
    display: flex;
}
.font2{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
.button{
 background-color: #2C49FE;
padding-top: 11px;
padding-right: 28px;
padding-bottom: 11px;
padding-left: 28px;
border-radius: 23px;
color:#FFFFFF;
border: none;
cursor: pointer;



}
.pl-45{
    padding-left: 45px;
    padding-top: 32px;
    padding-bottom: 30px;
}
.head{
  width: 100%;
  height: 372px;
  background-image: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 68px;
  
}
.mb-33{
  margin-bottom: 33px;
}
.justify-content{
  display: flex;
  justify-content: space-between;
  text-align: center;
  
}

.pr-60{
  padding-right: 60px;
}
.pr-64{
  padding-right: 64px;
}
.pr-56{
  padding-right: 56px;
}
.ml-415{
  margin-left: 415px;
}
.mt-41{
  margin-top: 41px;
}
.mt-30{
  margin-top: 30px;
}
.mt-17{
  margin-top: 17px;
}
.text{
  font-family: Poppins;
  font-weight: 600;
font-size: 16px;
text-align: left;



}
.text1{
  font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
.color{
 color: #FFFFFF;
}
.mt-131{
  margin-top: 131px;
}
.text2{
  font-family: Poppins;
font-size: 64px;
font-weight: 600;
line-height: 96px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}
.footer{
  height: 435px;
  width: 100%;
  background: #000000;
  margin-top: 155px;
  
}
.text3{
  font-family: Poppins;
font-size: 14px;
font-weight: 400; 
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}
.mt-81{
  margin-top: 81px;
}
.mt-44{
  margin-top: 44px;
}
.color1{
  color: #FFFFFF;
  margin-top: 24px;

}
.col-8{
  margin-top: 126px;
  
}
.text4{
  font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.text5{
  font-family: Poppins;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.ml-74{
  margin-left: 74px;
  
}
.ml-272{
  margin-left: 272px;
}
.pb-12{
  padding-bottom: 12px;
}
.pb-11{
  padding-bottom: 11px;
}
.pl-95{
  padding-left: 95px;
}
.pl-74{
  padding-left: 74px;
}
.pt-30{
  padding-top: 30px;
}
.pt-10{
  padding-top: 10px;
}
.pr-18{
  padding-right: 18px;
}
.pt-13{
  padding-top: 13px;
}
.text6{
  font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align:center;
color: #FFFFFF;
margin-top: 55px;

}
.pl-15{
  padding-left: 15px;
}
